*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  margin: auto;
  width: 90%;
}

div {
  width: 575px;
  height: 50%
  margin: auto;
  border: 3px solid #ffffff;
}

h1 {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: #000;
  text-align: center;
  letter-spacing: .10em;
  background-color: #ffffff
  padding: 40px 0px 30px 0px /* top right bottom left */
}

h2 {
  font-family: serif;
  font-size: 100%;
  font-weight: 500;
  color: #000;
  text-align: left;
  background-color: ffffff
  padding: 10px 200px 200px 10px; /* top right bottom left */
}

img {
  max-width: 100%;
}

.baku {
  display: block;
  background-image: url(../images/baku.jpg);
  background-size: contain;
  background-position: center;
}

.london {
  display: block;
  background-image: url(../images/london.png);
  background-size: contain;
  background-position: center;
}

.madrid {
  display: block;
  background-image: url(../images/madrid.jpg);
  background-size:  cover;
}

.rome {
  display: block;
  background-image: url(../images/rome.jpg);
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 575px) {

  .preview {
    margin: 1%;
    width: 45%;
    display: inline-block;
  }
}

@media screen and (min-width: 991px) {

  .preview {
    margin: 1%;
    width: 22%;
    display: inline-block;
  }
}
